useDynLib(Rbeast, .registration = TRUE, .fixes = "BEASTV4_")
importFrom("grDevices", "x11")
importFrom("graphics", "axis", "layout", "par", "plot", "points", "polygon", "rect", "title")
importFrom("graphics", "text","axis.Date")
importFrom("graphics", grconvertX, grconvertY,lines,segments,plot.new,strwidth,strheight,mtext )
importFrom("grDevices", "col2rgb", "dev.new","dev.off", "dev.size", "getGraphicsEvent", "rgb", "setGraphicsEventHandlers")
importFrom("methods",  "hasArg")
importFrom(stats,   filter,runif,sd) 
import("grid")
export(beast)
export(beast.irreg)
export(beast123)
export("plot.beast","print.beast")
S3method(print,beast)
S3method(plot, beast)
S3method("[", "beast")
export(geeLandsat)
export(tsextract)
export("tetris","minesweeper")
 
 